<!-- content heading -->
<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
     res.redirect('/')
   } %>

<%- messages() %>
<% if (errors) { %>
 <ul class="notice">
<% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>


<h2>New Classifications</h2>
<p>something about classifications...</p>
<%- classificationTable %>



<h2>New Inventory</h2>
<p>something about inventory...</p>
<%- invTable %>

<script src="../../js/approve-inventory.js"></script>