<!-- content heading -->
<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
     res.redirect('/')
   } %>

   <%- messages() %>

   <%- detail %>
   
   <div>
    <button class="approve-btn" onclick="window.location.href='/inv/approve-inventory/<%= inv_id %>'">Approve</button>
    <button class="cancel-btn" onclick="window.location.href='/inv/approve-changes'">Cancel</button>
    <button class="reject-btn" onclick="window.location.href='/inv/reject-inventory/<%= inv_id %>'">Reject</button>
  </div>