<!-- content heading -->
<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
     res.redirect('/')
   } %>

   <%- messages() %>

   <%- detail %>
   
<div>
  <button onclick="window.location.href='/inv/approve-inventory/<%= inv_id %>'">Approve</button>
  <button onclick="window.location.href='/inv/approve-changes'">Cancel</button>
  <button onclick="window.location.href='/inv/reject-inventory/<%= inv_id %>'">Reject</button>
</div>